<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>kind</key>
			<string>software-package</string>
			<key>md5-size</key>
			<integer>10485760</integer>
			<key>md5s</key>
			<array>
				<string>0afbe2fbe7cb81ff531834cba82f3a75</string>
			</array>
			<key>url</key>
			<string>https://github.com/munki/munki/releases/download/v3.1.0/munkitools-3.1.0.3430.pkg</string>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>bundle-identifier</key>
		<string>com.googlecode.munki.core</string>
		<key>bundle-version</key>
		<string>3.1.0.3430</string>
		<key>items</key>
		<array>
			<dict>
				<key>bundle-identifier</key>
				<string>com.googlecode.munki.MunkiStatus</string>
				<key>bundle-version</key>
				<string>3401</string>
			</dict>
			<dict>
				<key>bundle-identifier</key>
				<string>com.googlecode.munki.munki-notifier</string>
				<key>bundle-version</key>
				<string>3251</string>
			</dict>
			<dict>
				<key>bundle-identifier</key>
				<string>com.googlecode.munki.MSCDockTilePlugin</string>
				<key>bundle-version</key>
				<string>1</string>
			</dict>
			<dict>
				<key>bundle-identifier</key>
				<string>com.googlecode.munki.ManagedSoftwareCenter</string>
				<key>bundle-version</key>
				<string>3425</string>
			</dict>
		</array>
		<key>kind</key>
		<string>software</string>
		<key>sizeInBytes</key>
		<integer>3594282</integer>
		<key>title</key>
		<string>Munki 3.1 Official Release</string>
	</dict>
</dict>
</plist>