<!doctype html>
<html>
<head>
	{% block head %}
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
	<title>{% block title %}{% endblock %} - MDM Admin</title>
	{% endblock %}
	<link rel="stylesheet" href="/static/css/pure-min.css">
	<link rel="stylesheet" href="/static/css/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="header">
		<div id="header-menu" class="pure-menu pure-menu-horizontal">
			<a href="/admin/" class="pure-menu-heading pure-menu-link">C<strong>MDM</strong>NT</a>
			<ul class="pure-menu-list">
				<li class="pure-menu-item{% if section == 'device' %} pure-menu-selected{% endif %}">
					<a href="/admin/devices" class="pure-menu-link">Devices</a></li>
				<li class="pure-menu-item{% if section == 'group' %} pure-menu-selected{% endif %}">
					<a href="/admin/groups" class="pure-menu-link">Groups</a></li>
				<li class="pure-menu-item{% if section == 'profile' %} pure-menu-selected{% endif %}">
					<a href="/admin/profiles" class="pure-menu-link">Profiles</a></li>
				<li class="pure-menu-item{% if section == 'app' %} pure-menu-selected{% endif %}">
					<a href="/admin/apps" class="pure-menu-link">Apps</a></li>
				<li class="pure-menu-item{% if section == 'dep' %} pure-menu-selected{% endif %}">
					<a href="/admin/dep/index" class="pure-menu-link">DEP</a></li>
				<li class="pure-menu-item{% if section == 'cert' %} pure-menu-selected{% endif %}">
					<a href="/admin/certificates" class="pure-menu-link">Certs</a></li>
				<li class="pure-menu-item{% if section == 'config' %} pure-menu-selected{% endif %}">
					<a href="/admin/config/edit" class="pure-menu-link">Config</a></li>
			</ul>
		</div>
	</div>
	<div id="content">{% block content %}{% endblock %}</div>
	<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>