[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

acme = "*"
aiohttp = "*"
alembic = "*"
"aniso8601" = "*"
apns = "*"
"apns2-client" = "*"
Babel = "*"
biplist = "*"
bixar = {git = "https://github.com/mosen/bixar.git", editable=true}
blinker = "*"
decorator = "*"
docutils = "*"
Flask = "*"
Flask-Alembic = "*"
Flask-Cors = "*"
Flask-JWT = "*"
flask-marshmallow = "*"
Flask-OAuthlib = "*"
Flask-REST-JSONAPI = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
future = "*"
gunicorn = "*"
imagesize = "*"
marshmallow-enum = "*"
marshmallow-sqlalchemy = "*"
minio = "*"
"oauth2" = "*"
"oauth2client" = "*"
oscrypto = "*"
passlib = "*"
Paste = "*"
py = "*"
"pyasn1" = "*"
"pyasn1-modules" = "*"
pycparser = "*"
pycryptodomex = "*"
Pygments = "*"
pyparsing = "*"
"repoze.who" = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
semver = "*"
signxml = "*"
UkPostcodeParser = "*"

[dev-packages]

factory_boy = "*"
mock = "*"
mypy = "*"
pytest = "*"
pytest-runner = "*"
sadisplay = "*"
sphinx = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-napoleon = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-websupport = "*"
guzzle_sphinx_theme = "*"
typing = "*"