[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
acme = "*"
aiohttp = "*"
alembic = "*"
"aniso8601" = "*"
apns = "*"
"apns2-client" = "*"
babel = "*"
biplist = "*"
bixar = {git = "https://github.com/cmdmnt/bixar.git", editable = true}
blinker = "*"
decorator = "*"
docutils = "*"
flask = "*"
flask-alembic = "*"
flask-cors = "*"
flask-jwt = "*"
flask-marshmallow = "*"
flask-oauthlib = "*"
flask-rest-jsonapi = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
future = "*"
imagesize = "*"
marshmallow-enum = "*"
marshmallow-sqlalchemy = "*"
"oauth2" = "*"
"oauth2client" = "*"
oscrypto = "*"
passlib = "*"
paste = "*"
py = "*"
"pyasn1" = "*"
"pyasn1-modules" = "*"
pycparser = "*"
pycryptodomex = "*"
pygments = "*"
pyparsing = "*"
"repoze.who" = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
SCEPy = {git = "https://github.com/cmdmnt/SCEPy.git", editable = true}
semver = "*"
signxml = "*"
ukpostcodeparser = "*"
sqlalchemy = "*"
cryptography = "*"
python-dateutil = "*"
authlib = "*"

[dev-packages]
alembic-viz = "*"
factory-boy = "*"
mock = "*"
mypy = "*"
pytest = "*"
pytest-runner = "*"
sadisplay = "*"
sphinx = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-napoleon = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-websupport = "*"
guzzle-sphinx-theme = "*"
typing = "*"
"e1839a8" = {path = ".", editable = true}
sphinx-rtd-theme = "*"
