[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

acme = "==0.18.2"
aiohttp = "==2.2.5"
alembic = "==0.9.7"
"aniso8601" = "==1.2.0"
apns = "==2.0.1"
"apns2-client" = "==0.5.4"
Babel = "==2.5.0"
biplist = "==1.0.3"
bixar = {git = "https://github.com/mosen/bixar.git", editable=true}
blinker = "==1.4"
decorator = "==4.0.11"
docutils = "==0.14"
Flask = "==0.12.2"
Flask-Alembic = "==2.0.1"
Flask-Cors = "==3.0.3"
Flask-JWT = "==0.3.2"
flask-marshmallow = "==0.8.0"
Flask-OAuthlib = "==0.9.4"
Flask-REST-JSONAPI = "==0.14.3"
Flask-RESTful = "==0.3.6"
Flask-SQLAlchemy = "==2.2"
future = "==0.16.0"
gunicorn = "==19.7.1"
imagesize = "==0.7.1"
marshmallow-enum = "==1.4.1"
marshmallow-sqlalchemy = "==0.13.2"
minio = "==2.2.5"
"oauth2" = "==1.9.0.post1"
"oauth2client" = "==4.1.2"
oscrypto = "==0.19.1"
passlib = "==1.7.1"
Paste = "==2.0.3"
py = "==1.4.34"
"pyasn1" = "==0.3.3"
"pyasn1-modules" = "==0.1.1"
pycparser = "==2.18"
pycryptodomex = "==3.4.7"
Pygments = "==2.2.0"
pyparsing = "==2.2.0"
"repoze.who" = "==2.3"
requests = "==2.18.4"
requests-oauthlib = "==0.8.0"
rsa = "==3.4.2"
semver = "==2.7.8"
signxml = "*"
UkPostcodeParser = "==1.1.1"

[dev-packages]

alabaster = "==0.7.10"
factory_boy = "==2.9.2"
mock = "==2.0.0"
mypy = "==0.521"
pytest = "==3.2.2"
pytest-runner = "==2.12.1"
sadisplay = "==0.4.8"
sphinx = "==1.6.3"
sphinx-rtd-theme = "==0.2.4"
sphinxcontrib-httpdomain = "==1.5.0"
sphinxcontrib-napoleon = "==0.6.1"
sphinxcontrib-plantuml = "==0.8.1"
sphinxcontrib-websupport = "==1.0.1"
guzzle_sphinx_theme = "==0.7.11"
typing = "==3.6.4"