apns==2.0.1
apns2-client==0.5.3
asn1crypto==0.22.0
biplist==1.0.1
cffi==1.10.0
click==6.7
cryptography==1.8.1
Flask==0.12
Flask-Cors==3.0.2
Flask-REST-JSONAPI==0.11.4
Flask-SQLAlchemy==2.2
h2==2.6.1
hpack==2.3.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.5
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
marshmallow==2.13.1
marshmallow-jsonapi==0.11.0
oauthlib==2.0.2
packaging==16.8
passlib==1.7.1
pycparser==2.17
pyparsing==2.2.0
six==1.10.0
SQLAlchemy==1.1.6
ujson==1.35
Werkzeug==0.12.1
