acme==0.12.0
alabaster==0.7.10
alembic==0.9.1
aniso8601==1.2.0
apns==2.0.1
apns2-client==0.5.3
asn1crypto==0.22.0
Babel==2.4.0
biplist==1.0.1
blinker==1.4
certifi==2017.4.17
cffi==1.10.0
click==6.7
cryptography==1.8.1
decorator==4.0.11
docutils==0.13.1
duo-web==1.2.0
factory-boy==2.8.1
Faker==0.7.11
Flask==0.12
Flask-Cors==3.0.2
Flask-JWT==0.3.2
flask-marshmallow==0.7.0
Flask-OAuthlib==0.9.3
Flask-REST-JSONAPI==0.11.4
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.2
future==0.16.0
gunicorn==19.7.1
h2==2.6.1
hpack==2.3.0
httplib2==0.10.3
hyper==0.7.0
hyperframe==3.2.0
idna==2.5
imagesize==0.7.1
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==1.0
marshmallow==2.13.1
marshmallow-enum==1.0
marshmallow-jsonapi==0.11.0
marshmallow-sqlalchemy==0.13.0
minio==2.2.1
mock==2.0.0
oauth2==1.9.0.post1
oauth2client==4.0.0
oauthlib==2.0.2
oscrypto==0.18.0
packaging==16.8
passlib==1.7.1
Paste==2.0.3
pbr==2.0.0
pockets==0.3.2
py==1.4.33
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
pycryptodomex==3.4.5
Pygments==2.2.0
PyJWT==1.4.2
pyOpenSSL==16.2.0
pyparsing==2.2.0
pyRFC3339==1.0
pysaml2==4.4.0
pytest==3.0.7
pytest-runner==2.11.1
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2016.10
repoze.who==2.3
requests==2.13.0
requests-oauthlib==0.8.0
rsa==3.4.2
sadisplay==0.4.8
semver==2.7.6
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-httpdomain==1.5.0
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-plantuml==0.8.1
SQLAlchemy==1.1.6
typing==3.6.1
ujson==1.35
urllib3==1.20
WebOb==1.7.2
Werkzeug==0.12.1
zope.interface==4.4.0
