# The public facing hostname of the MDM
# This will also be used as the self signed certificate dnsname
PUBLIC_HOSTNAME = 'commandment.dev'

# http://flask-sqlalchemy.pocoo.org/2.1/config/
SQLALCHEMY_DATABASE_URI = 'sqlite:///mdm.db'

# Development mode listen port
PORT = 5443

# This is expected to include the public and private keypair.
# You may export pkcs#12 using this command:
# openssl pkcs12 -in push.p12 -out push.pem -nodes -clcerts
PUSH_CERTIFICATE = '../push.pem'
PUSH_CERTIFICATE_PASSWORD = 'sekret'  # for pkcs12 only

# If commandment is running in development mode, specify the path to the certificate and private key.
# These can also be generated at start up.
# Normally SSL should be handled by Apache/Nginx/etc.

CA_CERTIFICATE = '../CA.crt'
SSL_CERTIFICATE = '../commandment.crt'
SSL_RSA_KEY = '../commandment.key'

# OAuth
