{% set section = 'config' %}
{% extends "admin/layout.html" %}
{% block head %}
  {{ super() }}
		<style>
		tr th {
			width: 20em;
			font-weight:normal;
		}
		</style>
{% endblock %}
{% block content %}

<h1>Admin - Edit Configuration</h1>

<p><a href="/enroll">Enrollment Profile</a></p>

<form id="editconfig" method="POST">

<table border="1">

<tr>
	<th>
		<h4>MDM Name</h4>
		<p>Short sentance describing MDM system. Will be included as Display
		Name of MDM enrollment profile</p>
	</th>
	<td>
		<input name="name" type="text" size="50" value="{{ config.mdm_name }}">
	</td>
</tr>

<tr>
	<th>
		<h4>MDM Description</h4>
		<p>Optional. Description of this MDM system/installation</p>
	</th>
	<td>
		<textarea name="description" rows="2" cols="50">{{ config.description|d('', true) }}</textarea>
	</td>
</tr>

<tr>
	<th>
		<h4>Profile Prefix</h4>
		<p>Prefix of generated profile identities (will be used to build
		profile identity names). Uses a domain-component style of naming like
		"com.example.mymdm".</p>
	</th>
	<td>
		<!-- <input name="prefix" type="text" placeholder="com.example.mymdm" disable size="50" value="{{ config.prefix }}"> -->
		{{ config.prefix }}
	</td>
</tr>

<tr>
	<th>
		<h4>Access Rights</h4>
		<p>Specific rights granted to the MDM system, approved by the profile
		installer, on what the MDM is allowed to manage on devices.</p>
	</th>
	<td>
		<em>All rights</em> <input type="checkbox" name="allrights" disabled checked>
	</td>
</tr>

<tr>
	<th>
		<h4>Reset URLs</h4>
		<p>Reset the URLs used for MDM and checkin actions based on the current base.</p>
	</th>
	<td>
                <p>{{ config.mdm_url }}</p>
		<em>Reset</em> <input type="checkbox" name="reset_url" >
		https://
		<input name="reset_url_hostname" type="text" placeholder="mdm.example.com" size="30" value="">
		:
		<input name="reset_url_port" type="text" placeholder="443" size="6" maxlength="5" value="{{ config.port }}">
	</td>
</tr>

<tr>
	<th>
		<h4>Certificate Authority</h4>
		<p>Certificate Authority (CA) that will issue and sign device identity
		certificates to each enrolling device.</p>
	</th>
	<td>
		<select name="ca_cert">

{% for ca_cert in ca_certs %}

		<option {% if config.ca_cert_id == ca_cert.id %}selected{% endif %} value="{{ ca_cert.id }}">{{ ca_cert.subject_text }}</option>

{% endfor %}

		</select>
	</td>
</tr>

<tr>
	<th>
		<h4>Push Certificate</h4>
		<p>Apple MDM Push Notification Certificate. Will be the source of the
		push "topic" for this MDM system which cannot change for the enrolled
		life of an MDM device.</p>
	</th>
	<td>
		{{ config.topic }}
	</td>
</tr>

<tr>
	<th>
		<h4>Device Certificates</h4>
		<p>Select the method of device certificate enrollment. SCEP is the
		preferred method as this keeps the device's private key on the device
		only.</p>
	</th>
	<td>

		{% if not scep_present %}
			<em>
				Commandment SCEP configuration not present
				(SCEP server not run yet?)
			</em>
			<br>
		{% endif %}

		<input id="ourscep" type="radio" name="device_identity_method" value="ourscep"
		{% if not scep_present %}
			disabled
		{% else %}
			{% if device_identity_method == 'ourscep' %}
				checked
			{% endif %}
		{% endif %}
		>
		<label for="ourscep">Commandment SCEP server</label>

		<br>

		<label for="ourscep_hostname">Hostname:</label>
		<input id="ourscep_hostname" name="ourscep_hostname" type="text" placeholder="Leave blank for Cmdmnt hostname" size="40"
		{% if not scep_present %} disabled{% endif %}
		value="{{ ourscep_hostname }}"
		>

		Port: {{ scep_port }}

<!--
		<hr>

		<input id="other_scep" type="radio" name="device_identity_method" value="other_scep" disabled>
		<label for="other_scep">3rd-party SCEP server</label> <em>(Not yet supported)</em>

		<br>

		<label for="other_scep_url">URL:</label>
		<input name="other_scep_url" type="text" size="40" disabled>

		<br >

		<label for="other_scep_challenge">Challenge:</label>
		<input name="other_scep_challenge" type="text" size="40" disabled>
-->
		<hr>

		<input id="provide" type="radio" name="device_identity_method" value="provide"
			{% if device_identity_method == 'provide' %}
				checked
			{% endif %}
		>
		<label for="provide">Provide PKCS12 identity to device (certificate
		and private key).</label> <em>WARNING:</em> Do not re-use the
		generated enrollment profiles between devices.

	</td>
</tr>

<tr>
	<td colspan="2" style="text-align:right;">
		<button type="submit" form="editconfig" value="Submit">Update Configuration</button>
	</td>
</tr>

</table>

</form>

{% endblock %}
