<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {% if config['DEBUG'] == False %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        {% endif %}
        <title>commandment</title>
    {% endblock %}
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript">
      {# Configuration passed through to the client via global variables #}
        var OAUTH2_CLIENT_ID = '{{ config['OAUTH2_CLIENT_ID'] }}';
        var OAUTH2_REDIRECT_URL = '{{ config['OAUTH2_REDIRECT_URL'] }}';
        var OAUTH2_URL = '{{ config['OAUTH2_URL'] }}';
    </script>
    <script src="{{ config['WEBPACK_BASE_URL'] if config['DEBUG'] else '' }}/static/app.js" type="text/javascript"></script>
</body>
</html>