{% extends "admin/layout.html" %}
{% block content %}

<h1>Admin - DEP Config {{ dep_config.id }}</h1>

<div>
	<a href="/admin/dep/cert/{{ dep_config.id }}/DEP_MDM.crt">[ Download Signing Certificate ]</a>
</div>

<br>

<div>

<span>
DEP Server Token:
<strong>
	{% if not dep_config.server_token: %}
		NOT PRESENT
	{% else %}
		PRESENT
	{% endif %}
</strong>
</span>

<div>

<div>
<form id="token_form" action="/admin/dep/tokenupload/{{ dep_config.id }}" method="POST" enctype="multipart/form-data">

<p>
{% if not dep_config.server_token: %}
	Please provide the Server Token file from the Apple&rsquo;s DEP
	deployment portal.
{% else %}
	To update the existing Server Token please provide the Server Token
	file from the Apple&rsquo;s DEP	deployment portal.
{% endif %}
</p>

<input type="file" form="token_form" name="server_token_file">
<button type="submit" form="token_form" value="Submit">Upload Server Token</button>

</form>
</div>

<br>

<br>

</div>

{% endblock %}
