#header-menu {
	background-color:#007EA7;
	color:white;
	padding:0.5em;
}

#header-menu .pure-menu-item {
	border-bottom: 0.2em solid #007EA7;
}

#header-menu .pure-menu-selected {
	border-bottom: 0.2em solid;
}

#header-menu li a:hover,
#header-menu li a:focus {
	color:black;
	background-color:white;
}

#header-menu a {
	color:white;
}

#content {
	margin:2em;
}

#header-menu .pure-menu-heading {
	font-size:larger;
}

#header-menu a.pure-menu-heading:hover {
	background:none;
}