@import '~semantic-ui-css/semantic.min.css';
@import '~font-awesome/scss/font-awesome';
@import 'settings';
@import 'helper';
@import 'upload';
@import 'nav';
@import 'dropzone';

.top-margin {
  margin-top: 2rem;
}

/* intended to be used where a button must appear next to an input with a label on top */
.form-field-button {
  margin-bottom: 1.5rem;
}

.paper {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
}

.centered {
  text-align: center;
}

.padded {
  padding: 1.6rem;
}

.padded-sides {
  padding: 0 1.6rem;
}

.reversed {
  background-color: #9b4dca;
  color: white;
}

.title {
  font-size: 2.4rem;
}

.text-middle {
  vertical-align: middle;
}

.warning {
  color: red;
}


// TEST: Padding glyphicons in headers
h3 i {
  margin-right: 0.8rem;
}

dl.horizontal {

  dt {
    width: 20%;
    float: left;
    font-weight: bold;
  }
  dd {
    margin: 0;
  }
  dd:after {
    content: '';
    display: block;
    clear: both;
  }
}