{% extends "admin/layout.html" %}
{% block content %}

<h1>
	Admin - Add (Upload) 
	<span style="color:red;">{{ certtype }}</span>
	Certificate
</h1>

<form id="addcert" method="POST">

<table border=1>

<tr>
	<th>
		Certificate in PEM format<br>
		(text should begin with &ldquo;<br>
		<tt><code>-----BEGIN CERTIFICATE-----</code></tt>&rdquo;)
	</th>
	<td><textarea name="certificate" rows="15" cols="70"></textarea></td>
</tr>

<tr>
	<th>
		Optional private key in PEM format<br>
		(text should begin with &ldquo;<br>
		<tt><code>-----BEGIN RSA PRIVATE KEY-----</code></tt>&rdquo;)<br>
		<span style="color:red;">(optional)</span>
	</th>
	<td><textarea name="privatekey" rows="15" cols="70"></textarea></td>
</tr>

<tr>
	<td colspan="2" style="text-align:right;">
	<button type="submit" form="addcert" value="Submit">Submit</button>
	</td>
</tr>

</table>

</form>

{% endblock %}
