{% extends "admin/layout.html" %}
{% block content %}

<h1>
	Admin - Generate New
	<span style="color:red;">{{ certtype }}</span>
	Certificate
</h1>

<form id="addcert" method="POST">

<table border=1>

<tr>
	<th>Certificate Type</th>
	<td>
		<select name="cert_type">

{% for cert_type in cert_types.keys() %}
<option value="{{ cert_type }}">{{ cert_types[cert_type] }}</option>
{% endfor %}

		</select>
	</td>
</tr>
<tr>
	<th>Country Name (2 letter code)</th>
	<td><input name="C" type="text" maxlength="2"></td>
</tr>
<tr>
	<th>State or Province Name (full name)</th>
	<td><input name="ST" type="text" size="50"></td>
</tr>
<tr>
	<th>Locality Name (eg, city)</th>
	<td><input name="L" type="text" size="50"></td>
</tr>
<tr>
	<th>Organization Name (eg, company)</th>
	<td><input name="O" type="text" size="50"></td>
</tr>
<tr>
	<th>Organizational Unit Name (eg, section)</th>
	<td><input name="OU" type="text" size="50"></td>
</tr>
<tr>
	<th>Common Name (e.g. server FQDN or YOUR name)</th>
	<td><input name="CN" type="text" size="50"></td>
</tr>

<tr>
	<td colspan="2" style="text-align:right;">
	<button type="submit" form="addcert" value="Submit">Submit</button>
	</td>
</tr>

</table>

</form>

{% endblock %}
