.step-indicators {
  display: inherit;
  text-align: center;
}

.step-indicator {
  padding: 0.5rem;
  opacity: 0.4;
  transition: opacity 0.5s;
}

.step-indicator.step-indicator-active {
  opacity: 1;
}

.steps {

}

.step {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.step-active {
  display: block;
  opacity: 1;
}